


GO
USE [MoneyDream]
GO
/****** Object:  Table [dbo].[Account]    Script Date: 12/07/2024 09:36:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account](
	[AccountID] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](max) NOT NULL,
	[UserName] [varchar](50) NOT NULL,
	[Password] [varchar](200) NOT NULL,
	[Age] [int] NULL,
	[Gender] [varchar](50) NULL,
	[DateofBirth] [datetime] NULL,
	[State] [varchar](250) NULL,
	[City] [nvarchar](250) NULL,
	[Email] [varchar](50) NULL,
	[PhoneNumber] [varchar](50) NULL,
	[Picture] [varchar](250) NULL,
	[ImagePublicId] [varchar](max) NULL,
	[status] [varchar](50) NULL,
	[Created] [varchar](250) NULL,
	[RoleID] [int] NOT NULL,
	[Notes] [varchar](250) NULL,
 CONSTRAINT [PK_Accounts] PRIMARY KEY CLUSTERED 
(
	[AccountID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AccountAddress]    Script Date: 12/07/2024 09:36:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AccountAddress](
	[AddressID] [int] IDENTITY(1,1) NOT NULL,
	[DeliveryName] [nvarchar](100) NOT NULL,
	[DeliveryPhone] [varchar](20) NOT NULL,
	[Address] [nvarchar](500) NOT NULL,
	[DeleteAt] [varchar](30) NULL,
	[AccountID] [int] NOT NULL,
 CONSTRAINT [PK_AccountAddress] PRIMARY KEY CLUSTERED 
(
	[AddressID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cart]    Script Date: 12/07/2024 09:36:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cart](
	[ItemID] [int] IDENTITY(1,1) NOT NULL,
	[Quantity] [int] NOT NULL,
	[ProductID] [int] NOT NULL,
	[AccountID] [int] NOT NULL,
 CONSTRAINT [PK_Cart] PRIMARY KEY CLUSTERED 
(
	[ItemID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 12/07/2024 09:36:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[CategoryID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[Image] [varchar](255) NULL,
	[Status] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Category] PRIMARY KEY CLUSTERED 
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Conversation]    Script Date: 12/07/2024 09:36:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Conversation](
	[ConversationID] [int] IDENTITY(1,1) NOT NULL,
	[Type] [nvarchar](50) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[ImageUrl] [nvarchar](100) NULL,
	[CreateAt] [nvarchar](50) NULL,
 CONSTRAINT [PK_Conversation] PRIMARY KEY CLUSTERED 
(
	[ConversationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ConversationUser]    Script Date: 12/07/2024 09:36:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ConversationUser](
	[ConversationUserID] [int] IDENTITY(1,1) NOT NULL,
	[ConversationID] [int] NOT NULL,
	[AccountID] [int] NOT NULL,
 CONSTRAINT [PK_ConversationUser] PRIMARY KEY CLUSTERED 
(
	[ConversationUserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EmailToken]    Script Date: 12/07/2024 09:36:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmailToken](
	[EmailTokenID] [int] IDENTITY(1,1) NOT NULL,
	[Token] [varchar](220) NOT NULL,
	[Created] [varchar](50) NULL,
	[AccountID] [int] NOT NULL,
 CONSTRAINT [PK_EmailToken] PRIMARY KEY CLUSTERED 
(
	[EmailTokenID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ExportInfo]    Script Date: 12/07/2024 09:36:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ExportInfo](
	[ExportID] [int] IDENTITY(1,1) NOT NULL,
	[ProductID] [int] NOT NULL,
	[ImportID] [int] NOT NULL,
	[AccountID] [int] NOT NULL,
	[Count] [int] NOT NULL,
	[DateExport] [datetime] NULL,
	[Status] [nvarchar](max) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ExportID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[genMainSlider]    Script Date: 12/07/2024 09:36:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[genMainSlider](
	[MainSliderID] [int] IDENTITY(1,1) NOT NULL,
	[ImageURL] [varchar](500) NULL,
	[AltText] [varchar](255) NULL,
	[OfferTag] [varchar](50) NULL,
	[Title] [varchar](50) NULL,
	[Description] [varchar](255) NULL,
	[BtnText] [varchar](50) NULL,
	[isDeleted] [bit] NULL,
 CONSTRAINT [PK_genMainSlider] PRIMARY KEY CLUSTERED 
(
	[MainSliderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ImportInfo]    Script Date: 12/07/2024 09:36:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ImportInfo](
	[ImportID] [int] IDENTITY(1,1) NOT NULL,
	[ProductID] [int] NOT NULL,
	[Count] [int] NOT NULL,
	[ImportPrice] [int] NOT NULL,
	[ExportPrice] [int] NOT NULL,
	[Status] [nvarchar](max) NOT NULL,
	[DateImport] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ImportID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Message]    Script Date: 12/07/2024 09:36:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Message](
	[MessageID] [int] IDENTITY(1,1) NOT NULL,
	[SenderID] [int] NOT NULL,
	[ConversationID] [int] NOT NULL,
	[MessageContent] [nvarchar](500) NOT NULL,
	[AttachedFileUrl] [nvarchar](100) NULL,
	[CreateAt] [nvarchar](50) NULL,
 CONSTRAINT [PK_Message] PRIMARY KEY CLUSTERED 
(
	[MessageID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order]    Script Date: 12/07/2024 09:36:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[OrderID] [int] IDENTITY(1,1) NOT NULL,
	[AccountID] [int] NOT NULL,
	[PaymentID] [int] NULL,
	[AddressID] [int] NOT NULL,
	[VoucherID] [int] NULL,
	[OrderStatusID] [int] NOT NULL,
	[TotalAmount] [money] NOT NULL,
	[OrderDate] [varchar](50) NULL,
	[UpdateStatusAt] [varchar](50) NULL,
	[Notes] [varchar](500) NULL,
 CONSTRAINT [PK_Oder] PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderDetails]    Script Date: 12/07/2024 09:36:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetails](
	[OrderDetailsID] [int] IDENTITY(1,1) NOT NULL,
	[OrderID] [int] NOT NULL,
	[ProductID] [int] NOT NULL,
	[Quantity] [int] NULL,
	[OrderDate] [varchar](50) NULL,
 CONSTRAINT [PK_OrderDetails] PRIMARY KEY CLUSTERED 
(
	[OrderDetailsID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderStatus]    Script Date: 12/07/2024 09:36:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderStatus](
	[StatusID] [int] IDENTITY(1,1) NOT NULL,
	[StatusName] [varchar](50) NOT NULL,
	[StatusCode] [varchar](50) NOT NULL,
 CONSTRAINT [PK_OrderStatus] PRIMARY KEY CLUSTERED 
(
	[StatusID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payment]    Script Date: 12/07/2024 09:36:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payment](
	[PaymentID] [int] IDENTITY(1,1) NOT NULL,
	[Type] [int] NOT NULL,
	[Amount] [money] NULL,
	[PaymentDateTime] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Payment] PRIMARY KEY CLUSTERED 
(
	[PaymentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PaymentType]    Script Date: 12/07/2024 09:36:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaymentType](
	[PayTypeID] [int] IDENTITY(1,1) NOT NULL,
	[TypeName] [varchar](50) NOT NULL,
	[Code] [varchar](50) NOT NULL,
	[Description] [varchar](500) NULL,
 CONSTRAINT [PK_PaymentType] PRIMARY KEY CLUSTERED 
(
	[PayTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductImage]    Script Date: 12/07/2024 09:36:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductImage](
	[ImageID] [int] IDENTITY(1,1) NOT NULL,
	[Image] [varchar](max) NOT NULL,
	[ProductID] [int] NOT NULL,
	[PublicID] [varchar](max) NULL,
 CONSTRAINT [PK_ProductImage] PRIMARY KEY CLUSTERED 
(
	[ImageID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 12/07/2024 09:36:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[ProductID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[CategoryID] [int] NOT NULL,
	[UnitID] [int] NOT NULL,
	[SupplierID] [int] NOT NULL,
	[ImportID] [int] NULL,
	[OldPrice] [int] NULL,
	[SizeID] [int] NOT NULL,
	[Discount] [int] NOT NULL,
	[Status] [varchar](250) NULL,
	[ImageURL] [varchar](500) NOT NULL,
	[PublicID] [varchar](max) NULL,
	[ImageURLCloud] [varchar](500) NULL,
	[Description] [nvarchar](300) NULL,
 CONSTRAINT [PK_Products] PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RefreshToken]    Script Date: 12/07/2024 09:36:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RefreshToken](
	[RefreshTokenID] [int] IDENTITY(1,1) NOT NULL,
	[Token] [varchar](300) NOT NULL,
	[Created] [varchar](50) NULL,
	[AccountID] [int] NOT NULL,
 CONSTRAINT [PK_RefreshToken] PRIMARY KEY CLUSTERED 
(
	[RefreshTokenID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Review]    Script Date: 12/07/2024 09:36:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Review](
	[ReviewID] [int] IDENTITY(1,1) NOT NULL,
	[AccountID] [int] NULL,
	[ProductID] [int] NULL,
	[ReviewContent] [nvarchar](500) NULL,
	[Rate] [int] NULL,
	[CreateAt] [varchar](50) NULL,
 CONSTRAINT [PK_Review] PRIMARY KEY CLUSTERED 
(
	[ReviewID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 12/07/2024 09:36:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[RoleID] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [varchar](50) NOT NULL,
	[Description] [varchar](500) NULL,
 CONSTRAINT [PK_Role] PRIMARY KEY CLUSTERED 
(
	[RoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Size]    Script Date: 12/07/2024 09:36:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Size](
	[SizeID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](250) NOT NULL,
	[ProductWidth] [varchar](250) NOT NULL,
	[ProductHeight] [varchar](250) NOT NULL,
	[SampleHeight] [varchar](250) NOT NULL,
	[SampleWeight] [varchar](250) NOT NULL,
	[Status] [varchar](250) NULL,
	[Description] [nvarchar](max) NULL,
 CONSTRAINT [PK_Size] PRIMARY KEY CLUSTERED 
(
	[SizeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Supplier]    Script Date: 12/07/2024 09:36:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Supplier](
	[SupplierID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Address] [nvarchar](max) NOT NULL,
	[Phone] [nvarchar](20) NOT NULL,
	[Email] [nvarchar](200) NOT NULL,
	[MoreInfo] [nvarchar](max) NULL,
	[ContractDate] [datetime] NOT NULL,
	[Status] [varchar](250) NULL,
PRIMARY KEY CLUSTERED 
(
	[SupplierID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Unit]    Script Date: 12/07/2024 09:36:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Unit](
	[UnitID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Status] [varchar](250) NULL,
	[Description] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[UnitID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Voucher]    Script Date: 12/07/2024 09:36:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Voucher](
	[VoucherID] [int] IDENTITY(1,1) NOT NULL,
	[Discount] [decimal](3, 2) NOT NULL,
	[VoucherName] [varchar](50) NOT NULL,
	[CreateAt] [varchar](50) NOT NULL,
	[ExpiredAt] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Voucher] PRIMARY KEY CLUSTERED 
(
	[VoucherID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Wishlist]    Script Date: 12/07/2024 09:36:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Wishlist](
	[WishlistID] [int] IDENTITY(1,1) NOT NULL,
	[AccountID] [int] NOT NULL,
	[ProductID] [int] NOT NULL,
	[isActive] [bit] NULL,
 CONSTRAINT [PK_Wishlist] PRIMARY KEY CLUSTERED 
(
	[WishlistID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Account] ON 

INSERT [dbo].[Account] ([AccountID], [FullName], [UserName], [Password], [Age], [Gender], [DateofBirth], [State], [City], [Email], [PhoneNumber], [Picture], [ImagePublicId], [status], [Created], [RoleID], [Notes]) VALUES (1, N'Nguyễn Thanh Phúc', N'ad', N'$2a$13$hAe5CjvLSzLAK4BMuBU/TOkELCgkx.myHJ5/gEpwVGSL4wRuFPGL.', 23, N'Male', CAST(N'2002-12-18T00:00:00.000' AS DateTime), N'Vi?t Nam', N'Cần Thơ', N'thanh@gmail.com', N'0939253737', NULL, NULL, N'Enable', NULL, 1, NULL)
INSERT [dbo].[Account] ([AccountID], [FullName], [UserName], [Password], [Age], [Gender], [DateofBirth], [State], [City], [Email], [PhoneNumber], [Picture], [ImagePublicId], [status], [Created], [RoleID], [Notes]) VALUES (3, N'Nguyễn Nguyên Khánh', N'khanh', N'$2a$13$hAe5CjvLSzLAK4BMuBU/TOkELCgkx.myHJ5/gEpwVGSL4wRuFPGL.', 23, N'Male', CAST(N'2002-12-18T00:00:00.000' AS DateTime), N'Vi?t Nam', N'Cần Thơ', N'khanh@gmail.com', N'0999999999', N'https://res.cloudinary.com/dr0ajccyu/image/upload/v1720678347/pve2cdos5qm8inc1u3d3.png', N'pve2cdos5qm8inc1u3d3', N'Enable', NULL, 2, NULL)
INSERT [dbo].[Account] ([AccountID], [FullName], [UserName], [Password], [Age], [Gender], [DateofBirth], [State], [City], [Email], [PhoneNumber], [Picture], [ImagePublicId], [status], [Created], [RoleID], [Notes]) VALUES (4, N'Nguyen Thanh Duong', N'thanhduong', N'$2a$13$FBe7EyVhzvkSbr8FnIc3jeIncuqIu5mVBxXA90WDlzv.aDgIuBZcW', NULL, NULL, CAST(N'2003-11-13T00:00:00.000' AS DateTime), NULL, NULL, N'thanhduongjnguyen@gmail.com', N'0813113149', NULL, NULL, NULL, N'12/07/2024 01:09:29', 2, NULL)
SET IDENTITY_INSERT [dbo].[Account] OFF
GO
SET IDENTITY_INSERT [dbo].[Cart] ON 

INSERT [dbo].[Cart] ([ItemID], [Quantity], [ProductID], [AccountID]) VALUES (1, 3, 97, 4)
SET IDENTITY_INSERT [dbo].[Cart] OFF
GO
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([CategoryID], [Name], [Description], [Image], [Status]) VALUES (5, N'Áo', N'', NULL, N'Enable')
INSERT [dbo].[Categories] ([CategoryID], [Name], [Description], [Image], [Status]) VALUES (6, N'Quần', N'Quần', NULL, N'Enable')
SET IDENTITY_INSERT [dbo].[Categories] OFF
GO
SET IDENTITY_INSERT [dbo].[ExportInfo] ON 

INSERT [dbo].[ExportInfo] ([ExportID], [ProductID], [ImportID], [AccountID], [Count], [DateExport], [Status]) VALUES (28, 97, 11, 3, 10, CAST(N'2024-07-25T00:00:00.000' AS DateTime), N'Đang giao hàng')
INSERT [dbo].[ExportInfo] ([ExportID], [ProductID], [ImportID], [AccountID], [Count], [DateExport], [Status]) VALUES (29, 97, 11, 3, 68, CAST(N'2024-07-27T00:00:00.000' AS DateTime), N'Đang giao hàng')
INSERT [dbo].[ExportInfo] ([ExportID], [ProductID], [ImportID], [AccountID], [Count], [DateExport], [Status]) VALUES (30, 97, 13, 3, 68, CAST(N'2024-07-26T00:00:00.000' AS DateTime), N'Đã nhận hàng')
SET IDENTITY_INSERT [dbo].[ExportInfo] OFF
GO
SET IDENTITY_INSERT [dbo].[ImportInfo] ON 

INSERT [dbo].[ImportInfo] ([ImportID], [ProductID], [Count], [ImportPrice], [ExportPrice], [Status], [DateImport]) VALUES (11, 97, 1000, 100000, 200000, N'Còn hàng', CAST(N'2024-07-18T00:00:00.000' AS DateTime))
INSERT [dbo].[ImportInfo] ([ImportID], [ProductID], [Count], [ImportPrice], [ExportPrice], [Status], [DateImport]) VALUES (12, 97, 800, 100000, 250000, N'Còn hàng', CAST(N'2024-07-19T00:00:00.000' AS DateTime))
INSERT [dbo].[ImportInfo] ([ImportID], [ProductID], [Count], [ImportPrice], [ExportPrice], [Status], [DateImport]) VALUES (13, 97, 200, 100000, 180000, N'Còn hàng', CAST(N'2024-07-18T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[ImportInfo] OFF
GO
SET IDENTITY_INSERT [dbo].[OrderStatus] ON 

INSERT [dbo].[OrderStatus] ([StatusID], [StatusName], [StatusCode]) VALUES (1, N'PENING', N'PENING')
INSERT [dbo].[OrderStatus] ([StatusID], [StatusName], [StatusCode]) VALUES (2, N'DELIVERING', N'DELIVERING')
INSERT [dbo].[OrderStatus] ([StatusID], [StatusName], [StatusCode]) VALUES (3, N'COMPLETED', N'COMPLETED')
SET IDENTITY_INSERT [dbo].[OrderStatus] OFF
GO
SET IDENTITY_INSERT [dbo].[PaymentType] ON 

INSERT [dbo].[PaymentType] ([PayTypeID], [TypeName], [Code], [Description]) VALUES (1, N'COD', N'COD', N'COD')
INSERT [dbo].[PaymentType] ([PayTypeID], [TypeName], [Code], [Description]) VALUES (2, N'MOMO', N'MOMO', N'MOMO')
SET IDENTITY_INSERT [dbo].[PaymentType] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductImage] ON 

INSERT [dbo].[ProductImage] ([ImageID], [Image], [ProductID], [PublicID]) VALUES (2, N'https://res.cloudinary.com/dr0ajccyu/image/upload/v1720382983/sjomzthycug6oztkravf.png', 97, N'97')
INSERT [dbo].[ProductImage] ([ImageID], [Image], [ProductID], [PublicID]) VALUES (3, N'https://res.cloudinary.com/dr0ajccyu/image/upload/v1720382983/sjomzthycug6oztkravf.png', 97, N'97')
SET IDENTITY_INSERT [dbo].[ProductImage] OFF
GO
SET IDENTITY_INSERT [dbo].[Products] ON 

INSERT [dbo].[Products] ([ProductID], [Name], [CategoryID], [UnitID], [SupplierID], [ImportID], [OldPrice], [SizeID], [Discount], [Status], [ImageURL], [PublicID], [ImageURLCloud], [Description]) VALUES (97, N'Áo thun levent', 5, 1, 1, 11, 100000, 1, 20, N'Enable', N'97.jpg', N'sjomzthycug6oztkravf', N'https://res.cloudinary.com/dr0ajccyu/image/upload/v1720382983/sjomzthycug6oztkravf.png', NULL)
INSERT [dbo].[Products] ([ProductID], [Name], [CategoryID], [UnitID], [SupplierID], [ImportID], [OldPrice], [SizeID], [Discount], [Status], [ImageURL], [PublicID], [ImageURLCloud], [Description]) VALUES (98, N'Áo thun levent', 5, 1, 1, 11, 100000, 2, 20, N'Enable', N'97.jpg', N'sjomzthycug6oztkravf', N'https://res.cloudinary.com/dr0ajccyu/image/upload/v1720382983/sjomzthycug6oztkravf.png', NULL)
INSERT [dbo].[Products] ([ProductID], [Name], [CategoryID], [UnitID], [SupplierID], [ImportID], [OldPrice], [SizeID], [Discount], [Status], [ImageURL], [PublicID], [ImageURLCloud], [Description]) VALUES (99, N'Áo thun levent', 5, 1, 1, 11, 100000, 3, 20, N'Enable', N'99.jpg', N'sjomzthycug6oztkravf', N'https://res.cloudinary.com/dr0ajccyu/image/upload/v1720382983/sjomzthycug6oztkravf.png', NULL)
SET IDENTITY_INSERT [dbo].[Products] OFF
GO
SET IDENTITY_INSERT [dbo].[RefreshToken] ON 

INSERT [dbo].[RefreshToken] ([RefreshTokenID], [Token], [Created], [AccountID]) VALUES (4, N'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6IjQiLCJ1c2VybmFtZSI6InRoYW5oZHVvbmciLCJuYmYiOjE3MjA3NTEwNjYsImV4cCI6MTcyMDgzNzQ2NiwiaWF0IjoxNzIwNzUxMDY2fQ.Wq26aDAWx8PgbFIeY_FXWv_-HSXQSPN5OCFIuT4lnGw', N'12/07/2024 09:24:26', 4)
SET IDENTITY_INSERT [dbo].[RefreshToken] OFF
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([RoleID], [RoleName], [Description]) VALUES (1, N'ADMIN', NULL)
INSERT [dbo].[Roles] ([RoleID], [RoleName], [Description]) VALUES (2, N'CUSTOMER', NULL)
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
SET IDENTITY_INSERT [dbo].[Size] ON 

INSERT [dbo].[Size] ([SizeID], [Name], [ProductWidth], [ProductHeight], [SampleHeight], [SampleWeight], [Status], [Description]) VALUES (1, N'Size 1', N'55 cm', N'72 cm', N'140-162 cm', N'40-58 kg', N'Enable', NULL)
INSERT [dbo].[Size] ([SizeID], [Name], [ProductWidth], [ProductHeight], [SampleHeight], [SampleWeight], [Status], [Description]) VALUES (2, N'Size 2', N'52 cm', N'74 cm', N'163-174 cm', N'59-68 kg', N'Enable', NULL)
INSERT [dbo].[Size] ([SizeID], [Name], [ProductWidth], [ProductHeight], [SampleHeight], [SampleWeight], [Status], [Description]) VALUES (3, N'Size 3', N'54 cm', N'76 cm', N'175-185 cm', N'69-85 kg', N'Enable', NULL)
SET IDENTITY_INSERT [dbo].[Size] OFF
GO
SET IDENTITY_INSERT [dbo].[Supplier] ON 

INSERT [dbo].[Supplier] ([SupplierID], [Name], [Address], [Phone], [Email], [MoreInfo], [ContractDate], [Status]) VALUES (1, N'Levent', N'Hồ Chí Minh', N'09999999999', N'levent@gmail.com', N'Brand Levent', CAST(N'2024-06-26T23:53:46.417' AS DateTime), N'Enable')
INSERT [dbo].[Supplier] ([SupplierID], [Name], [Address], [Phone], [Email], [MoreInfo], [ContractDate], [Status]) VALUES (2, N'Sly', N'Hồ Chí Minh', N'0999999999', N'levent@gmail.com', NULL, CAST(N'2024-06-27T02:24:43.153' AS DateTime), N'Enable')
SET IDENTITY_INSERT [dbo].[Supplier] OFF
GO
SET IDENTITY_INSERT [dbo].[Unit] ON 

INSERT [dbo].[Unit] ([UnitID], [Name], [Status], [Description]) VALUES (1, N'Cái', N'Enable', NULL)
INSERT [dbo].[Unit] ([UnitID], [Name], [Status], [Description]) VALUES (2, N'Bộ', N'Disable', N'Bộ')
SET IDENTITY_INSERT [dbo].[Unit] OFF
GO
ALTER TABLE [dbo].[Account]  WITH CHECK ADD  CONSTRAINT [FK_Account_Roles] FOREIGN KEY([RoleID])
REFERENCES [dbo].[Roles] ([RoleID])
GO
ALTER TABLE [dbo].[Account] CHECK CONSTRAINT [FK_Account_Roles]
GO
ALTER TABLE [dbo].[AccountAddress]  WITH CHECK ADD  CONSTRAINT [FK_AccountAddress_Account] FOREIGN KEY([AccountID])
REFERENCES [dbo].[Account] ([AccountID])
GO
ALTER TABLE [dbo].[AccountAddress] CHECK CONSTRAINT [FK_AccountAddress_Account]
GO
ALTER TABLE [dbo].[Cart]  WITH CHECK ADD  CONSTRAINT [FK_Cart_Account] FOREIGN KEY([AccountID])
REFERENCES [dbo].[Account] ([AccountID])
GO
ALTER TABLE [dbo].[Cart] CHECK CONSTRAINT [FK_Cart_Account]
GO
ALTER TABLE [dbo].[ConversationUser]  WITH CHECK ADD  CONSTRAINT [FK_ConversationUser_Account] FOREIGN KEY([AccountID])
REFERENCES [dbo].[Account] ([AccountID])
GO
ALTER TABLE [dbo].[ConversationUser] CHECK CONSTRAINT [FK_ConversationUser_Account]
GO
ALTER TABLE [dbo].[ConversationUser]  WITH CHECK ADD  CONSTRAINT [FK_ConversationUser_Conversation] FOREIGN KEY([ConversationID])
REFERENCES [dbo].[Conversation] ([ConversationID])
GO
ALTER TABLE [dbo].[ConversationUser] CHECK CONSTRAINT [FK_ConversationUser_Conversation]
GO
ALTER TABLE [dbo].[EmailToken]  WITH CHECK ADD  CONSTRAINT [FK_EmailToken_Account] FOREIGN KEY([AccountID])
REFERENCES [dbo].[Account] ([AccountID])
GO
ALTER TABLE [dbo].[EmailToken] CHECK CONSTRAINT [FK_EmailToken_Account]
GO
ALTER TABLE [dbo].[ExportInfo]  WITH CHECK ADD  CONSTRAINT [FK_ExportInfo_Account] FOREIGN KEY([AccountID])
REFERENCES [dbo].[Account] ([AccountID])
GO
ALTER TABLE [dbo].[ExportInfo] CHECK CONSTRAINT [FK_ExportInfo_Account]
GO
ALTER TABLE [dbo].[ExportInfo]  WITH CHECK ADD  CONSTRAINT [FK_ExportInfo_ImportInfo] FOREIGN KEY([ImportID])
REFERENCES [dbo].[ImportInfo] ([ImportID])
GO
ALTER TABLE [dbo].[ExportInfo] CHECK CONSTRAINT [FK_ExportInfo_ImportInfo]
GO
ALTER TABLE [dbo].[ExportInfo]  WITH CHECK ADD  CONSTRAINT [FK_ExportInfo_Products] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Products] ([ProductID])
GO
ALTER TABLE [dbo].[ExportInfo] CHECK CONSTRAINT [FK_ExportInfo_Products]
GO
ALTER TABLE [dbo].[ImportInfo]  WITH CHECK ADD  CONSTRAINT [FK_ImportInfo_Products] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Products] ([ProductID])
GO
ALTER TABLE [dbo].[ImportInfo] CHECK CONSTRAINT [FK_ImportInfo_Products]
GO
ALTER TABLE [dbo].[Message]  WITH CHECK ADD  CONSTRAINT [FK_Message_Conversation] FOREIGN KEY([ConversationID])
REFERENCES [dbo].[Conversation] ([ConversationID])
GO
ALTER TABLE [dbo].[Message] CHECK CONSTRAINT [FK_Message_Conversation]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_Account] FOREIGN KEY([AccountID])
REFERENCES [dbo].[Account] ([AccountID])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_Account]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_AccountAddress] FOREIGN KEY([AddressID])
REFERENCES [dbo].[AccountAddress] ([AddressID])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_AccountAddress]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_OrderStatus] FOREIGN KEY([OrderStatusID])
REFERENCES [dbo].[OrderStatus] ([StatusID])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_OrderStatus]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_Payment] FOREIGN KEY([PaymentID])
REFERENCES [dbo].[Payment] ([PaymentID])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_Payment]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_Voucher] FOREIGN KEY([VoucherID])
REFERENCES [dbo].[Voucher] ([VoucherID])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_Voucher]
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetails_Order] FOREIGN KEY([OrderID])
REFERENCES [dbo].[Order] ([OrderID])
GO
ALTER TABLE [dbo].[OrderDetails] CHECK CONSTRAINT [FK_OrderDetails_Order]
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetails_Products] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Products] ([ProductID])
GO
ALTER TABLE [dbo].[OrderDetails] CHECK CONSTRAINT [FK_OrderDetails_Products]
GO
ALTER TABLE [dbo].[Payment]  WITH CHECK ADD  CONSTRAINT [FK_Payment_PaymentType] FOREIGN KEY([Type])
REFERENCES [dbo].[PaymentType] ([PayTypeID])
GO
ALTER TABLE [dbo].[Payment] CHECK CONSTRAINT [FK_Payment_PaymentType]
GO
ALTER TABLE [dbo].[ProductImage]  WITH CHECK ADD  CONSTRAINT [FK_ProductImage_Products] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Products] ([ProductID])
GO
ALTER TABLE [dbo].[ProductImage] CHECK CONSTRAINT [FK_ProductImage_Products]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_Categories] FOREIGN KEY([CategoryID])
REFERENCES [dbo].[Categories] ([CategoryID])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_Categories]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_ImportInfo] FOREIGN KEY([ImportID])
REFERENCES [dbo].[ImportInfo] ([ImportID])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_ImportInfo]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_Size] FOREIGN KEY([SizeID])
REFERENCES [dbo].[Size] ([SizeID])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_Size]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_Suplier] FOREIGN KEY([SupplierID])
REFERENCES [dbo].[Supplier] ([SupplierID])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_Suplier]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_Unit] FOREIGN KEY([UnitID])
REFERENCES [dbo].[Unit] ([UnitID])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_Unit]
GO
ALTER TABLE [dbo].[RefreshToken]  WITH CHECK ADD  CONSTRAINT [FK_RefreshToken_Account] FOREIGN KEY([AccountID])
REFERENCES [dbo].[Account] ([AccountID])
GO
ALTER TABLE [dbo].[RefreshToken] CHECK CONSTRAINT [FK_RefreshToken_Account]
GO
ALTER TABLE [dbo].[Review]  WITH CHECK ADD  CONSTRAINT [FK_Review_Account] FOREIGN KEY([AccountID])
REFERENCES [dbo].[Account] ([AccountID])
GO
ALTER TABLE [dbo].[Review] CHECK CONSTRAINT [FK_Review_Account]
GO
ALTER TABLE [dbo].[Wishlist]  WITH CHECK ADD  CONSTRAINT [FK_Wishlist_Account] FOREIGN KEY([AccountID])
REFERENCES [dbo].[Account] ([AccountID])
GO
ALTER TABLE [dbo].[Wishlist] CHECK CONSTRAINT [FK_Wishlist_Account]
GO
USE [master]
GO
